<h1>Suggestions on Authorization Rules Change</h1>
<p><%= navigation %></p>
<div style="display:none" id="suggest-graph-container">
<%= link_to_function "Hide", "$(this).up().hide()" %><br/>
<object id="suggest-graph" data="" type="image/svg+xml" style="max-width: 98%"/>
</div>
<%= render 'show_graph' %>

<style type="text/css">
  .action-options label { display: block; float: left; width: 7em; padding-bottom: 0.5em }
  .action-options select { float: left; }
  .action-options br { clear: both; }
  .action-options { margin-bottom: 2em }
  .change-options { margin-bottom: 1em }
  .change-options td { padding-right: 1em; padding-left: 0.5em }
  .change-options thead td { border-bottom: 1px solid lightgrey }
  .change-options thead td.choose { text-align: center; font-weight: bold }
  .change-options tr.permitted td.yes,
  .change-options tr.not-permitted td.no { background: #FFE599 }
  .submit { margin-top: 0 }
  .submit input { font-weight: bold; font-size: 120% }
  #suggest-result { 
    position: absolute; left: 60%; right: 10px;
    border-left: 2px solid grey;
    padding-left: 1em;
    z-index: 10;
  }
  #suggest-graph-container {
    background: white; border:1px solid #ccc;
    max-height: 30%; position:fixed; z-index: 20;
    left:2%; bottom: 2%; right: 2%;
  }
  #graph-container { margin: 1em; border:1px solid #ccc; max-width:50%; position:fixed; right:0; }
  .unimportant, .remove { color: grey }
  .remove { cursor: pointer }
</style>
<% javascript_tag do %>
    function suggest_changes () {
        $("suggest-result").innerHTML = "Searching...";
        $("suggest-result").show();
        new Ajax.Updater({success: 'suggest-result'}, '<%= suggest_change_authorization_rules_path %>', {
            method: 'get',
            onFailure: function(request) {
                $("suggest-result").innerHTML = "Error while searching."
            },
            parameters: $('change').down('form').serialize()
        });
    }

    function show_suggest_graph (changes, filter_roles_params, filter_context) {
        base_url = "<%= graph_authorization_rules_path('svg') %>";
        $('suggest-graph').data = base_url + '?changes=' + encodeURIComponent(changes) +
            '&' + filter_roles_params +
            (filter_context ? '&filter_contexts=' + encodeURIComponent(filter_context) : '');
        $('suggest-graph').up().show();
    }

    document.observe('dom:loaded', function() {
      install_change_observers();
    });

    function install_change_observers () {
        $$('#change select').each(function (el) {
            el.observe('change', function (event) {
                new Ajax.Updater({success: 'change'}, '<%= url_for %>', {
                  parameters: { context: $F('context'), privilege: $F('privilege') },
                  method: 'get',
                  onComplete: function () {
                      install_change_observers();
                      if ($('graph-container').visible())
                        show_current_permissions();
                  }
                });
            });
        });
        $('prohibited_actions').observe('click', function (event) {
          var target = event.findElement();
          if (target.hasClassName('remove')) {
            target.up().remove();
            if ($('prohibited_actions').childElements().length == 0)
              $('prohibited_actions').previous().hide();
            suggest_changes();
          }
        });
    }

    function show_current_permissions () {
        show_graph($F('privilege'), $F('context'));
    }

    var prohibited_action_template =
        new Template('<li>#{description} <span class="remove">[x]</span><input type="hidden" name="prohibited_action[]" value="#{action}"></li>');
    function prohibit_action (action, description) {
      $('prohibited_actions').previous().show();
      $('prohibited_actions').insert(
          {bottom: prohibited_action_template.evaluate({action: action, description: description}) }
      );
      suggest_changes();
    }
<% end %>

<div id="suggest-result" style="display:none"></div>

<div id="change">
  <%= render 'change' %>
</div>
